<script language="JavaScript" type="text/javascript" src="/assets/job/jquery.data.min.js"></script>

<div class="main-slider"><!-- start main-headline section -->
	<div class="slider-nav">
		<a class="slider-prev"><i class="fa fa-chevron-circle-left"></i></a>
		<a class="slider-next"><i class="fa fa-chevron-circle-right"></i></a>
	</div>
	<div id="home-slider" class="owl-carousel owl-theme">
		<div class="item-slide">
			<img src="<%= asset_path 'job/upload/dummy-slide-1.jpg' %>" class="img-responsive" alt="dummy-slide" />
		</div>
		<div class="item-slide">
			<img src="<%= asset_path 'job/upload/dummy-slide-2.jpg' %>" class="img-responsive" alt="dummy-slide" />
		</div>
		<div class="item-slide">
			<img src="<%= asset_path 'job/upload/dummy-slide-3.jpg' %>" class="img-responsive" alt="dummy-slide" />
		</div>
	</div>
</div><!-- end main-headline section -->

<div class="headline container"><!-- start headline section -->
		<div class="row" >
			<div class="col-md-6 align-right">
				<h4>Recherchez et trouvez l'emploi de vos rêves</h4>
				<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
			</div>
			<div class="col-md-6 align-left">
				<h4>Embauchez des personnes aux compétences avérées</h4>
				<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
			</div>
			<div class="clearfix"></div>
		</div>
</div><!-- end headline section -->

<div class="job-finder"><!-- start job finder -->
	<div class="container">
		<h3>Rechercher un poste (<%= @offers.count %>) résultat<%= @offers.count > 1 ? "s" : ""  %></h3>
		<%= form_tag(search_jobs_path) do %>
			<div class="col-md-7 form-group group-1">
				<label for="searchjob" class="label">Domaine d'activités</label>
				<%= select_tag "activity_field_id", options_from_collection_for_select(@activity_fields, "id", "name", selected: @activity_field_id), prompt: "Veuillez choisir un domaine d'activités", class: "form-control" %>
			</div>
			<div class="col-md-5 form-group group-2">
				<label for="searchplace" class="label">Type de contrat</label>
				<%= select_tag "contract_type_id", options_from_collection_for_select(@contract_types, "id", "name", selected: @contract_type_id), prompt: "Veuillez choisir un type de contrat", class: "form-control" %>
			</div>
			<div class="col-md-7 form-group group-1">
				<label for="searchjob" class="label">Niveau d'études</label>
				<%= select_tag "studies_level_id", options_from_collection_for_select(@studies_levels, "id", "name", selected: @studies_level_id), prompt: "Veuillez choisir un niveau d'études", class: "form-control" %>
			</div>
			<div class="col-md-5 form-group group-1">

			</div>
      <div class="col-md-7 form-group group-1">
			  <%= submit_tag "Rechercher", class: "btn btn-default btn-green" %>
			</div>
		<% end %>
	</div>
</div><!-- end job finder -->

<div class="recent-job"><!-- Start Recent Job -->
	<div class="container">
		<h1>Offres d'emploi récentes</h1>
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Date de publication</th>
                <th>Poste</th>
                <th>Domaine d'activités</th>
                <th>Date d'expiration</th>
                <th>Reférence</th>
                <th>Type de contrat</th>
            </tr>
        </thead>
        <tbody>
          <% unless @offers.blank?  %>
            <% @offers.each do |offer| %>
              <tr>
                  <td><%= offer.created_at.strftime("%d-%m-%Y") %></td>
                  <td><a href = "<%= job_details_path(offer.id) %>" style = "font-weight: bold;text-decoration: underline;"><%= offer.title %></a></td>
                  <td><%= offer.activity_field.name %></td>
                  <td><%= offer.expiration_date.strftime("%d-%m-%Y") %></td>
                  <td>#<%= offer.id %></td>
                  <td><%= offer.contract_type.name %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
    </table>
	</div>
</div><!-- end Recent Job -->

<div class="job-status">
	<div class="container">
			<h1>Quelques statistiques</h1>
			<p>
				At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.
			</p>

			<div class="counter clearfix">

				<div class="counter-container">
					<div class="counter-value"><%= @total_validated_offers %></div>
					<div class="line"></div>
					<p>Offres postée<%= @total_validated_offers > 1 ? "s" : ""  %></p>
				</div>

				<div class="counter-container">
					<div class="counter-value"><%= @total_number_of_companies %></div>
					<div class="line"></div>
					<p>Entreprise<%= @total_number_of_companies > 1 ? "s" : ""  %></p>
				</div>
			</div>

	</div>
</div>

<script>
  $(document).ready(function() {
      $('#example').DataTable();
  } );
</script>
