<!-- Title area -->
<div class="titleArea">
    <div class="wrapper">
        <div class="pageTitle">
            <h5>Création des catégories de galeries</h5>
            <span>Créez un type de galerie auquel vous ajouterez des activités.</span>
        </div>

        <div class="clear"></div>
    </div>
</div>

<div class="line"></div>

<%= render "gallery_categories/shared/sub_menu" %>

<div class="line"></div>

<!-- Main content wrapper -->
<div class="wrapper">
  <%= flash_messages! %>
  <%= form_for(@gallery_category, url: create_gallery_category_path, method: :post, html: {class: 'form', multipart: true}) do |f| %>

    <fieldset>
      <div class="widget">
        <div class="title">
          <img src="<%= asset_path 'icons/dark/users.png' %>" alt="" class="titleIcon" />
          <h6>Formulaire de création de catégorie de galeries</h6>
        </div>

        <div class="formRow">
          <label><%= f.label :fr_title %></label>
          <div class="formRight">
            <%= f.text_field :fr_title, placeholder: "Veuillez entrer le titre français", class: 'form-control' %>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <label><%= f.label :en_title %></label>
          <div class="formRight">
            <%= f.text_field :en_title, placeholder: "Veuillez entrer le titre anglais", class: 'form-control' %>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <label><%= f.label :publication_date %></label>
          <div class="formRight">
            <%= f.date_select :publication_date, start_year: (Date.today.year - 10), end_year: (Date.today.year + 2), class: "form-control" %>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <label>Photos</label>
          <div class="formRight">
            <input type="file" name="gallery_category[photos_attachments_array][]" multiple="multiple" />
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <label>PDF</label>
          <div class="formRight">
            <input type="file" name="gallery_category[pdf_attachments_array][]" multiple="multiple" />
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <%= f.submit "Valider", class: 'basic' %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>

<div id="toolbar" class="tab_content" style="display: block;">
  <%= form_for(@fr_content, url: update_fr_home_front_content_path, method: :post, html: {class: 'form'}) do |f| %>
    <fieldset>
      <div class="widget">
        <div class="title">
          <img src="<%= asset_path 'icons/dark/users.png' %>" alt="" class="titleIcon" />
          <h6>FR | Galerie</h6>
        </div>

        <div class="formRow">
          <label><%= f.label :gallery_title %></label>
          <div class="formRight">
            <%= f.text_field :gallery_title, placeholder: "Veuillez entrer le titre français de la galerie", class: 'form-control' %>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <%= f.submit "Valider", class: 'basic' %>
        </div>
      </div>
    </fieldset>
  <% end %>

  <%= form_for(@en_content, url: update_en_home_front_content_path, method: :post, html: {class: 'form'}) do |f| %>
    <fieldset>
      <div class="widget">
        <div class="title">
          <img src="<%= asset_path 'icons/dark/users.png' %>" alt="" class="titleIcon" />
          <h6>EN | Galerie</h6>
        </div>

        <div class="formRow">
          <label><%= f.label :gallery_title %></label>
          <div class="formRight">
            <%= f.text_field :gallery_title, placeholder: "Veuillez entrer le titre anglais de la galerie", class: 'form-control' %>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <%= f.submit "Valider", class: 'basic' %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
<!-- End Main content wrapper -->
