<!-- Slider -->
    <div class="xpro-slider-container">
            <div id="scroller" class="xpro-slider">

                    <!-- Slider One -->
                <div class="xpro-slider-content">
                       <div class="xpro-slider-item" data-effect="shrinkOut({duration:'800ms', easing:'ease-in-cubic'})"
                         style="background-color: #0D9146">

                        <div class="xpro-item-layer"
                            style="top:0px;bottom:0px;left:-600px;width:50%;height:100%;opacity:0;background-color:#484848;margin:auto"
                            data-effect="slide({X:'600px', Y:0, opacity:0.0, delay:'800ms', duration:'800ms'})">
                        </div>

                        <div class="xpro-item-layer"
                             data-effect="slide({X:'150px', delay:'1.5s', duration:'1s', dir:'right'})"
                             style="left:0px;top:20px;text-align: center;opacity:0">
                            <h1 class="xpro-item-layer-responsive" style="font-size:30px;margin:20px;color:#ffffff;font-weight: bold;">
                              <i class="fa fa-check"></i>&nbsp;&nbsp;<%= @front_page_content.home_slider_slide1_text1.html_safe rescue "" %>
                              <i class="fa fa-check"></i>&nbsp;&nbsp;<%= @front_page_content.home_slider_slide1_text2.html_safe rescue "" %>
                              <i class="fa fa-check"></i>&nbsp;&nbsp;<%= @front_page_content.home_slider_slide1_text3.html_safe rescue "" %>
                            </h1>

                        </div>
                        <div class="xpro-item-layer"
                             data-effect="slide({X:'150px', delay:'2s', duration:'1s', dir:'right'})"
                             style="left:28px;top:100px;text-align: center;opacity:0;">
                            <h1 class="xpro-item-layer-responsive" style="font-size:30px;margin:20px;color:#102B5D;font-weight: bold;text-align:left;line-height:25px;"><%= I18n.locale == :fr ? "Femmes de la Côte d'Ivoire" : "Women of Côte d'Ivoire" %><br /><%= I18n.locale == :fr ? 'et de la Diaspora' : 'and from Diaspora' %><br /><%= I18n.locale == :fr ? 'Faisons nous connaître' : "let's increase our fame" %></h1>
                        </div>
                        <div class="xpro-item-layer"
                             data-effect="slide({X:'150px', delay:'2.5s', duration:'1s', dir:'right'})"
                             style="left:60px;top:220px;text-align: center;opacity:0">
                             <span class = "xpro-item-layer-responsive">
                            <a class="shortcode_button btn_large btn_type5" href="https://cocofci-lp2iprci.db.em2.oraclecloudapps.com/apex/f?p=30200141:IDENTIFICATION:13640725185620:::::" style="color:white;" target="_blank"><%= I18n.locale == :fr ? 'Inscription' : 'Registration' %></a></span>
                        </div>

                        <div class="xpro-item-layer round-item"
                             data-effect="slide({X:'-300px', delay:'2.0s', duration:'2s', opacity:1, easing:'ease-out-bounce'})"
                             style="left:940px;top:10px;opacity:0;width:370px;height:370px;background-color:#ffffff">
                        </div>

                        <div class="xpro-item-layer"
                             data-effect="slide({X:'0', zoom:'in', delay:'1.5s', duration:'1s', dir:'right'})"
                             style="left:640px;top:50px;text-align: center;opacity:0;width:351px;">
                            <img src="<%= asset_path 'front/imgs/img2.png' %>" />
                        </div>


                    </div>

                    <!-- Slider Two -->
                    <div class="xpro-slider-item" data-effect="zoomOut({dir:'down', duration:'800ms', easing:'ease-in-cubic'})" style="background-color:#1E2D5E">

                        <div class="xpro-item-layer round-item carrot-trans"
                             data-effect="slide({X:'0', Y:'70px', delay:'1.7s', duration:'1.5s', easing:'ease-out-bounce'})"
                             style="width:100px;height:100px;left:200px;top:-30px;opacity:0;
font-size:16px ;padding-top:35px;font-weight:600; color:#0D9146;">
                            <p style = "text-align: center;"><%= @front_page_content.home_slider_slide2_text1.html_safe rescue "" %></p>
                        </div>
                        <div class="xpro-item-layer round-item tomato-red-trans"
                             data-effect="slide({X:'0', Y:'100px', delay:'1.4s', duration:'1.5s', easing:'ease-out-bounce'})"
                             style="width:200px;height:200px;left:330px;top:-30px;opacity:0;font-size:16px;padding-top:40px;">
                            <p class="xpro-item-layer-responsive" style="font-size:28px;margin:10px; margin-top:35px; color:#0D9146;text-align: center;font-weight: bold;line-height: 100%;"><%= @front_page_content.home_slider_slide2_text2.html_safe rescue "" %></p>

                        </div>
                        <div class="xpro-item-layer round-item pilot-blue-trans"
                             data-effect="slide({X:'0', Y:'220px', delay:'2.0s', duration:'1.5s', easing:'ease-out-bounce'})"
                             style="width:200px;height:200px;left:600px;top:-130px;opacity:0;font-size:16px;padding-top:40px;">
                            <p class="xpro-item-layer-responsive" style="font-size:28px;margin:10px; margin-top:40px   ; color:#0D9146;text-align: center;font-weight: bold;line-height: 100%;"><%= @front_page_content.home_slider_slide2_text3.html_safe rescue "" %></p>
                        </div>
                        <div class="xpro-item-layer round-item airman-blue-trans"
                             data-effect="slide({X:'0', Y:'50px', delay:'2.2s', duration:'1.5s', easing:'ease-out-bounce'})"
                             style="width:200px;height:200px;left:900px;top:0px;opacity:0;font-size:16px;padding-top:40px;">
                            <p class="xpro-item-layer-responsive" style="font-size:28px;margin:10px; margin-top:40px;color:#0D9146;text-align: center;font-weight: bold;line-height: 100%;"><%= @front_page_content.home_slider_slide2_text4.html_safe rescue "" %></p>
                        </div>

                        <div class="xpro-item-layer round-item tomato-red-trans"
                             data-effect="slide({X:'0', Y:'100px', delay:'2.5s', duration:'1.5s', easing:'ease-out-bounce'})"
                             style="width:100px;height:100px;left:790px;top:-80px;opacity:0;font-size:16px;padding-top:35px;color:#0D9146;font-weight:600;">
                            <p style = "text-align: center;"><%= @front_page_content.home_slider_slide2_text5.html_safe rescue "" %></p>
                        </div>
                        <div class="xpro-item-layer round-item cress-green-trans"
                             data-effect="slide({X:'0', Y:'60px', delay:'2.7s', duration:'1.5s', easing:'ease-out-bounce'})"
                             style="width:100px;height:100px;left:530px;top:-50px;opacity:0;font-size:16px;padding-top:35px;color:#0D9146;font-weight:600;">
                            <p style = "text-align: center;"><%= @front_page_content.home_slider_slide2_text6.html_safe rescue "" %></p>
                        </div>

                    </div>



                          <!-- Slider Three -->

                    <div class="xpro-slider-item" style='background-color:#0D9146'>
                        <div class="xpro-item-layer"
                             data-effect="animate({X:'0px', Y:'60px', skew:'in-up', rotate:'in-right', flip:'in-left', delay:'1000ms', duration:'800ms'})"
                             data-effect-out="animate({X:'0px', Y:'-60px', zoom:'out', opacity:0, delay:'0ms', duration:'800ms'})"
                             style="top:-70px;left:0px;right:0px;margin:auto;opacity:0;text-align: center; ">
                            <h1 class="xpro-item-layer-responsive" style="padding:10px 10px;font-size:44px;color:#ffffff;margin-top:10px;"><%= @front_page_content.home_slider_slide3_text1.html_safe rescue "" %></h1>
                        </div>

                        <div class="xpro-item-layer xp-layerblock-round round-item"
                             data-effect="animate({X:'-220px', Y:'0px', rotate:'in-left', delay:'1500ms', duration:'800ms'})"
                             data-effect-out="animate({X:'-300px', Y:'100px', rotate:'out-right', delay:'0ms', duration:'800ms'})"
                             style="padding-top:10px;line-height: 20px;top:80px;left:490px;font-size:16px;width:200px;height:200px; background-color:#ffffff; font-weight:600;)">
                              <img src="<%= asset_path 'front/imgs/hautniveau.png' %>" class="xpro-item-layer-responsive fa fa-times-circle-o fa-3x" style="max-width:150px;max-height:150px; ">
                            <br/><p class="layer-action-link" style="color:#0D9146;text-align: center;"><%= @front_page_content.home_slider_slide3_text2.html_safe rescue "" %></p>
                        </div>

                        <!--<div class="xpro-item-layer"
                             data-effect="slide({X:'0', zoom:'in', delay:'1.5s', duration:'1s', dir:'right'})"
                             style="left:640px;top:50px;text-align: center;opacity:0;width:351px;">
                            <img src="<%= asset_path 'front/imgs/img2.png' %>" />
                        </div>-->

                        <div class="xpro-item-layer xp-layerblock-round round-item"
                             data-effect="animate({X:'0px', Y:'0px', flip:'in-left', delay:'1500ms', duration:'800ms'})"
                             data-effect-out="animate({X:'0px', Y:'100px', flip: 'out-right', delay:'0ms', duration:'800ms'})"
                             style="padding-top:10px;line-height: 20px;top:80px;left:490px;font-size:16px;width:200px;height:200px; background-color:#ffffff;font-weight:600;">
                            <img src="<%= asset_path 'front/imgs/diplome.png' %>" class="xpro-item-layer-responsive fa fa-check-circle-o fa-3x" style="max-width:150px;max-height:150px; "><br /><p class="layer-action-link" style="color:#0D9146;text-align: center;"><%= @front_page_content.home_slider_slide3_text3.html_safe rescue "" %></p>
                        </div>

                        <div class="xpro-item-layer xp-layerblock-round round-item"
                             data-effect="animate({X:'220px', Y:'0px', rotate:'in-right', delay:'1500ms', duration:'800ms'})"
                             data-effect-out="animate({X:'300px', Y:'100px', rotate:'out-right', delay:'0ms', duration:'800ms'})"
                             style="padding-top:10px;line-height: 20px;top:80px;left:500px;font-size:16px;width:200px;height:200px;background-color:#ffffff;font-weight:600;">
                            <img src="<%= asset_path 'front/imgs/toutniveau.png' %>" class="xpro-item-layer-responsive fa fa-info-circle fa-3x" style="max-width:150px;max-height:150px;margin-left:-30px;"><br /><p class="layer-action-link" style="color:#0D9146;text-align: center;"><%= @front_page_content.home_slider_slide3_text4.html_safe rescue "" %></p>
                        </div>


                    </div>

                    <!-- Slider Four -->

                    <div class="xpro-slider-item" style='background-color:#EC7623'
                        data-effect="fade({duration:'800ms', easing:'ease-in-cubic'})">

                        <div class='xpro-item-layer'
                            data-effect="animate({X:'-180px', skew:'in-right', 'delay':'0.5s', duration:'800ms'})"
                            data-effect-out="animate({X:'180px', rotate:'out-left', 'delay':'0s', duration:'600ms'})"
                            style="top: 20px;right:0px;width:180px;height:120px;font-size:24px;color:#ffffff;background-color:#1E2D5E;text-align:center"><br /><i class="fa fa-arrow-left"></i><br /><%= @front_page_content.home_slider_slide4_text2.html_safe rescue "" %></div>

                        <div class='xpro-item-layer'
                            data-effect="animate({X:'100px', skew:'in-left', 'delay':'0.75s', duration:'800ms'})"
                            data-effect-out="animate({X:'-100px', rotate:'out-right', 'delay':'0s', duration:'600ms'})"
                            style="top: 160px;right:470px;width:180px;height:120px;font-size:24px;color:#ffffff;background-color:#1E2D5E;text-align:center"><br /><i class="fa fa-arrow-right"></i><br /><%= @front_page_content.home_slider_slide4_text3.html_safe rescue "" %></div>

                        <div class='xpro-item-layer'
                            data-effect="animate({Y:'100px', skew:'in-down', 'delay':'1s', duration:'800ms'})"
                            data-effect-out="animate({Y:'-100px', rotate:'out-left', 'delay':'0s', duration:'600ms'})"
                            style="top: -80px;right:370px;width:180px;height:120px;font-size:24px;color:#ffffff;background-color:#1E2D5E;text-align:center"><br /><i class="fa fa-arrow-down"></i><br /><%= @front_page_content.home_slider_slide4_text4.html_safe rescue "" %></div>

                        <div class='xpro-item-layer'
                            data-effect="animate({Y:'-100px', skew:'in-up', 'delay':'1.25s', duration:'800ms'})"
                            data-effect-out="animate({Y:'100px', rotate:'out-right', 'delay':'0s', duration:'600ms'})"
                            style="top: 260px;right:180px;width:180px;height:120px;font-size:24px;color:#ffffff;background-color:#1E2D5E;text-align:center"><br />  <i class="fa fa-arrow-up"></i><br /><%= @front_page_content.home_slider_slide4_text5.html_safe rescue "" %></div>

                        <h1 class='xpro-item-layer'
                            data-effect="animate({Y:'0px', zoom:'in', 'delay':'1.5s', duration:'600ms'})"
                            data-effect-out="animate({X:'-100px', Y:'-100px', zoom:'out', rotate:'out-left', 'delay':'0s', duration:'600ms'})"
                            style="top: 130px;left:220px;font-size:35px; font-weight:400;color:#ffffff;text-align:gauche;margin:0px;padding:0px;"><%= @front_page_content.home_slider_slide4_text1.html_safe rescue "" %></h1>

                        <!--<div class='xpro-item-layer'
                            data-effect="animate({Y:'-110px', zoom:'in', 'delay':'1.75s', duration:'1000ms'})"
                            data-effect-out="animate({X:'-100px', Y:'110px', zoom:'out', rotate:'out-left', 'delay':'0s', duration:'600ms'})"
                            style="top: 280px;left:220px;font-size:16px;color:#cccccc;width:250px;">slide in any direction, zoom in/out, skew horizontal or vertical with friendly animation syntax</div> -->

                    </div>

                </div>
            </div>
        </div>
                            <!-- //Slider -->
