<div class="breadcrumbs">
  <div class="container">
    <h1 class="title-page"><a href="<%= activities_path %>"><%= @front_page_content.title_activity_section %></a> - <a href="javascript:history.go(-1)"><<</a></h1>
    <h1 class="title-page"><%= I18n.locale == :fr ? @activity.activity_category.fr_title : @activity.activity_category.en_title %></h1>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="content_block row no-sidebar single_post">
      <div class="fl-container">
        <div class="posts-block">
          <div class="contentarea">
                <div class="blog_post_preview animate" data-anim-type="fadeInUp" data-anim-delay="300">
	                <h1><%= I18n.locale == :fr ? @activity.fr_title : @activity.en_title %></h1>
                  <div class="listing_meta">
                    <span><%= @activity.publication_date.strftime("%d-%m-%Y") %></span>
                  </div>
                  <div class="blog_post_image">
                    <%= image_tag @activity.description_image.url(:article) rescue "" %>
                  </div>
                  <div class="blog_content">
                    <p>
                      <%= I18n.locale == :fr ? (@activity.fr_content.html_safe rescue "") : (@activity.en_content.html_safe rescue "") %>
                    </p>
                  </div>
                </div>

                <div class="row">
                                <div class="col-sm-12 module_cont pb80 module_feature_portfolio">
                                    <div class="featured_items">
                                        <div class="items4 featured_portfolio">
                                            <ul class="item_list">
                                              <% attachments = @activity.activity_attachments %>
                                              <% unless attachments.blank? %>
                                                <% attachments.each do |attachment| %>
                                                  <li class="animate" data-anim-type="fadeInUp" data-anim-delay="300">
                                                      <div class="item">
                                                          <div class="item_wrapper">
                                                              <div class="img_block wrapped_img">
                                                                  <%= image_tag attachment.attachment.url(:front) %>
                                                                  <span class="block_fade"></span>
                                                                  <div class="post_hover_info">

                                                                      <a href="<%= attachment.attachment.url(:front) %>" class="photozoom featured_ico_link view_link"><i class="icon-expand"></i></a>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </li>
                                                <% end %>
                                              <% end %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
