<div class="compendium_breadcrumbs">
    	<div class="container">
        	<h1 class="title-page">Bienvenue sur Le Blog du COCOFCI - <%= @blog_theme.blog_category.title %></h1>
        	<h3><a style= "color:white;" href="javascript:history.go(-1)"><%= I18n.locale == :fr ? "Retour" : "Back" %></a></h3>
        </div>
     </div>

    <div class="wrapper">
    	<div class="container">
        	<div class="content_block row no-sidebar single_post">
            	<div class="fl-container">
                	<div class="posts-block">
                        <div class="contentarea">
                        	<div class="blog_post_preview animate" data-anim-type="fadeInUp" data-anim-delay="300">
                            	<h1><%= @blog_theme.title %></h1>
                              <div class="listing_meta">
                                <span><%= @blog_theme.created_at.strftime("%d-%m-%Y") %></span>
                                <span><%= @blog_theme.blog_posts.count %> commentaire(s)</span>
                                <span>Catégorie: <b><%= link_to @blog_theme.blog_category.title, blog_category_path(@blog_theme.blog_category.id) %></b></span>
                                <span>Auteur: <b><%= link_to @blog_theme.blogger.title, blogger_biography_path(@blog_theme.blogger.id) %></b></span>
                              </div>
                              <% unless @blog_theme.descriptive_image_file_name.blank? %>
                            	  <div class="blog_post_image">
                                	<%= image_tag @blog_theme.descriptive_image.url(:front) rescue "" %>
                                </div>
                              <% end %>
                              <div class="blog_content module_content">
                                <%= simple_format(@blog_theme.content) %>
                              </div>
                            </div>

                            <div id="respond" class="animate" data-anim-type="fadeInUp" data-anim-delay="400">
                              <h3 class="mb22">Laisser un message!</h3>
                              <p class="mb23">Votre email ne sera pas publié. Tous les champs sont requis</p>
                              <%= front_messages! %>
                              <%= form_for(@blog_post, url: create_blog_post_path, html: {class: 'comment-form'}) do |f| %>
                                <%= f.hidden_field :blog_theme_id, value: @blog_theme.id %>
                              	<div class="row row20">
                                	<div class="col-sm-4">
                                	  <%= f.text_field :firstname, placeholder: "Veuillez saisir votre nom" %>
                                	</div>
                                  <div class="col-sm-4">
                                    <%= f.text_field :lastname, placeholder: "Veuillez saisir votre prénom" %>
                                  </div>
                                  <div class="col-sm-4">
                                    <%= f.text_field :email, placeholder: "Veuillez saisir votre email" %>
                                  </div>
                                </div>
                                <%= f.text_area :content, placeholder: "Ecrivez votre message ici ...", rows: 5 %>

                                <%= f.submit "Valider" %>
                              <% end %>
                            </div>

                             <div id="comments">
                                <h3 class="animate" data-anim-type="fadeInUp" data-anim-delay="350"><%= @blog_posts.count rescue 0 %> Commentaire(s):</h3>
                                <ol class="commentlist animate" data-anim-type="fadeInUp" data-anim-delay="350">
                                  <% if !@blog_posts.blank? %>
                                    <% @blog_posts.each do |blog_post| %>
                                      <li class="comment">
                                          <div class="stand_comment">
                                              <div class="thiscommentbody">
                                              	<div class="commentava wrapped_img">
                                                      <img class="avatar" src="/avatars/small/missing.png" alt="" />
                                                  </div>
                                                  <div class="comment_info">
                                                      <div class="comment_author_name"><%= "#{blog_post.lastname} #{blog_post.firstname}" %></div>
                                                      <p><%= simple_format(blog_post.content) %></p>
                                                      <div class="comment_meta">
                                                          <span class="date"><%= blog_post.created_at.strftime("%d-%m-%Y") %></span>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </li>
                                    <% end %>
                                  <% end %>
                                </ol>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
