<div class="compendium_breadcrumbs">
    	<div class="container">
            <h1 class="title-page"><%= @blogger.title.html_safe rescue "" %></h1>
            <h3><a style= "color:white;" href="javascript:history.go(-1)"><%= I18n.locale == :fr ? "Retour" : "Back" %></a></h3>
        </div>
    </div>

    <div class="wrapper">
    	<div class="container">
        	<div class="content_block row right-sidebar">
            	<div class="fl-container hasRS">
                	<div class="posts-block">
                        <div class="contentarea">
                            <div class="row">
                                <div class="col-sm-12 module_cont pb75 module_team" style = "text-align: center;">
                                    <div class="team_slider">
                                        <div class="carouselslider teamslider items2">
                                            <ul class="item_list">
                                                  <li class="animate" data-anim-delay="250" data-anim-type="fadeInLeft" style ="width:100%">
                                                    <div class="item_wrapper">
                                                      <div class="item">
                                                      	<div class="row" >
                                                        	<div class="col-sm-6">
                                                          	<div class="img_block" style = "float:right;">
                                                              <%= image_tag @blogger.description_image.url(:front), width: 'auto' %>
                                                            </div>
                                                          </div>
                                                          <div class="col-sm-6">
                                                          	<div class="carousel_body">
                                                              <div class="team_title" style = "text-align:left;">
                                                                <%= @blogger.name.html_safe rescue "" %>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </li>
                                                <li class="animate" data-anim-delay="250" data-anim-type="fadeInRight">
                                                  <div class="item_wrapper">
                                                    <div class="item">
                                                      <%= @blogger.description_text.html_safe rescue "" %>
                                                    </div>
                                                  </div>
                                            </div>
                                                </li>
                                            </ul>
                                         </div>
                                    </div>
                                </div>
                                <%= @blogger.content.html_safe rescue "" %>
                                <hr />
                            </div>


                            <div class="row">
                              <h3 style = "color:#0D9146"> Blogs</h3>
                            </div>


                            <div class="row">
                                <div class="col-sm-12 module_cont pb60 module_blog">
                                    <% @blog_themes = @blogger.blog_themes.page(params[:page]).per(3) %>
                                    <% unless @blog_themes.blank? %>
                                      <% @blog_themes.each do |blog_theme| %>
                                        <div class="blog_post_preview animate" data-anim-type="fadeInLeft" data-anim-delay="300">
                                          <% unless blog_theme.descriptive_image_file_name.blank? %>
                                        	  <div class="blog_post_image">
                                            	<%= image_tag blog_theme.descriptive_image.url(:front) rescue "" %>
                                            </div>
                                          <% end %>
                                          <div class="blog_content">
                                          	<h2 class="blogpost_title"><%= link_to blog_theme.title, blog_theme_path(blog_theme.id) %></h2>
                                              <div class="listing_meta">
                                                <span><%= blog_theme.created_at.strftime("%d-%m-%Y") %></span>
                                                <span><%= blog_theme.blog_posts.count %> commentaire(s)</span>
                                                <span>Catégorie: <b><%= link_to blog_theme.blog_category.title, blog_category_path(blog_theme.blog_category.id) %></b></span>
                                                <span>Auteur: <b><%= link_to blog_theme.blogger.title, blogger_biography_path(blog_theme.blogger.id) %></b></span>
                                              </div>
                                              <p><%= simple_format(strip_tags(blog_theme.content).split[0..200].join(" ")) %></p>

                                              <div class="addthis_native_toolbox"></div>

                                              <div class="price_item_btn"><a class="shortcode_button btn_large btn_type1" href="<%= blog_theme_path(blog_theme.id) %>"><%= I18n.locale == :fr ? "Lire plus" : "Read more" %></a></div>
                                          </div>
                                          <hr />
                                        </div>

                                      <% end %>
                                      <%= paginate @blog_themes, :params => {:controller => :home, :action => :blog} %>
                                    <% end %>

                                </div>
                            </div>








                    </div>
                </div>







                <div class="right-sidebar-block">

                    <div class="sidepanel widget_categories animate" data-anim-type="fadeInUp" data-anim-delay="300">
                        <h4 class="title">Categories</h4>
                        <ul>
                          <% unless @blog_categories.blank? %>
                            <% @blog_categories.each do |blog_category| %>
                              <li class="<%= blog_category.id == (@blog_category.id rescue nil) ? 'cat-item current-menu-item' : 'cat-item'  %>"><%= link_to blog_category.title, blog_category_path(blog_category.id) %></li>
                            <% end %>
                          <% end %>
                        </ul>
                    </div>

                    <div class="sidepanel widget_categories animate" data-anim-type="fadeInUp" data-anim-delay="300">
                        <h4 class="title">Bloggeurs</h4>
                        <ul>
                          <% unless @bloggers.blank? %>
                            <% @bloggers.each do |blogger| %>
                              <li class="<%= blogger.id == (@blogger.id rescue nil) ? 'cat-item current-menu-item' : 'cat-item'  %>"><%= link_to blogger.title, blogger_biography_path(blogger.id) %></li>
                            <% end %>
                          <% end %>
                        </ul>
                    </div>

                    <div class="sidepanel widget_categories animate" data-anim-type="fadeInUp" data-anim-delay="300">
                        <h4 class="title">Blogs récents</h4>
                        <ul>
                          <% unless @recent_blogs.blank? %>
                            <% @recent_blogs.each do |recent_blog| %>
                              <li class="<%= recent_blog.id == (@blog_theme.id rescue nil) ? 'cat-item current-menu-item' : 'cat-item'  %>"><%= link_to recent_blog.title, blog_theme_path(recent_blog.id) %></li>
                            <% end %>
                          <% end %>
                        </ul>
                    </div>


                  </div>


                <div class="clear"></div>









    </div>
  </div>
</div>
