<div class="compendium_breadcrumbs">
    	<div class="container">
        	<h1 class="title-page"><%= @front_page_content.compendium_top_content_title.html_safe rescue "" %></h1>
        </div>
    </div>

    <div class="wrapper">
    	<div class="container">
        	<div class="content_block row no-sidebar">
            	<div class="fl-container">
                	<div class="posts-block">
                        <div class="contentarea">
                        	<div class="row">

                        	<div class="row">
                             	<div class="col-sm-12 module_cont pb0">
                                	<div class="bg_title">
                                    	<h2><%= @front_page_content.compendium_top_content_moral.html_safe rescue "" %></h2>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                             	<div class="col-sm-3 module_cont module_iconboxes pb75 pt50 animate" data-anim-delay="250" data-anim-type="fadeInDown">
                                    <div class="module_content shortcode_iconbox type2">
                                        <a href="javascript:void(0);">
                                            <div class="compendium_iconbox_wrapper">
                                            	<div class="icon_title_wrap">
                                                    <div class="ico"><%= image_tag @front_page_content.compendium_top_content_block1_image.url(:tiny) rescue "" %></div>
                                                  <!--  <h5 class="iconbox_title">Valeur 1</h5> -->
                                                </div>
                                                <div class="iconbox_body">
                                                    <%= @front_page_content.compendium_top_content_block1_content.html_safe rescue "" %>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 module_cont module_iconboxes pb75 pt50 animate" data-anim-delay="150" data-anim-type="fadeInLeft">
                                    <div class="module_content shortcode_iconbox type2">
                                        <a href="javascript:void(0);">
                                            <div class="compendium_iconbox_wrapper">
                                            	<div class="icon_title_wrap">
                                                    <div class="ico"><%= image_tag @front_page_content.compendium_top_content_block2_image.url(:tiny) rescue "" %></div>
                                                 <!--   <h5 class="iconbox_title">Valeur 2 </h5> -->
                                                </div>
                                                <div class="iconbox_body">
                                                    <%= @front_page_content.compendium_top_content_block2_content.html_safe rescue "" %>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 module_cont module_iconboxes pb75 pt50 animate" data-anim-delay="200" data-anim-type="fadeInUp">
                                    <div class="module_content shortcode_iconbox type2">
                                        <a href="javascript:void(0);">
                                            <div class="compendium_iconbox_wrapper">
                                            	<div class="icon_title_wrap">
                                                    <div class="ico"><%= image_tag @front_page_content.compendium_top_content_block3_image.url(:tiny) rescue "" %></div>
                                                   <!-- <h5 class="iconbox_title">Valeur 3</h5> -->
                                                </div>
                                                <div class="iconbox_body">
                                                    <%= @front_page_content.compendium_top_content_block3_content.html_safe rescue "" %>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 module_cont module_iconboxes pb75 pt50 animate" data-anim-delay="150" data-anim-type="fadeInRight">
                                    <div class="module_content shortcode_iconbox type2">
                                        <a href="javascript:void(0);">
                                            <div class="compendium_iconbox_wrapper">
                                            	<div class="icon_title_wrap">
                                                    <div class="ico"><%= image_tag @front_page_content.compendium_top_content_block4_image.url(:tiny) rescue "" %></div>
                                                  <!--  <h5 class="iconbox_title">Valeur 4</h5> -->
                                                </div>
                                                <div class="iconbox_body">
                                                    <%= @front_page_content.compendium_top_content_block4_content.html_safe rescue "" %>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                             </div>


                            <div class="row">
                             	<div class="col-sm-12 module_cont pb0">
                                	<div class="bg_title">
                                    	<h2><%= @front_page_content.compendium_main_content_responsibles_title.html_safe rescue "" %></h2>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 module_cont module_team">
                                    <div class="team_slider">
                                        <div class="carouselslider teamslider items2">
                                            <ul class="item_list">
                                                <li class="animate" data-anim-type="fadeInLeft" data-anim-delay="300">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                        	<div class="row">
                                                            	<div class="col-sm-6">
                                                                	<div class="img_block">
                                                                    	<%= image_tag @front_page_content.compendium_main_content_responsible1_image.url(:article) rescue "" %>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                	<div class="carousel_body">
                                                                	  <%= @front_page_content.compendium_main_content_responsible1_content.html_safe rescue "" %>


                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="animate" data-anim-type="fadeInRight" data-anim-delay="300">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                        	<div class="row">
                                                            	<div class="col-sm-6">
                                                                	<div class="img_block">
                                                                      <%= image_tag @front_page_content.compendium_main_content_responsible2_image.url(:article) rescue "" %>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                	<div class="carousel_body">
                                                                	<%= @front_page_content.compendium_main_content_responsible2_content.html_safe rescue "" %>


                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                         </div>
                                    </div>
                                </div>
                            </div>


                            <div>
                                  <div class="row">
                             	<div class="col-sm-12 module_cont pb0">
                                	<div class="bg_title">
                                    	<h2><%= @front_page_content.compendium_main_content_title.html_safe rescue "" %></h2>
                                    </div>
                                </div>
                             </div>
                             <%= @front_page_content.compendium_main_content.html_safe rescue "" %>

                             </div>
                    </div>
                        	<div class="row">
                                <div class="col-sm-12 module_cont pb75 animate" data-anim-type="fadeInUp" data-anim-delay="300">
                                    <div class="shortcode_promoblock">
                                        <div class="promoblock_wrapper" style="border-left:10px solid #102B5D;">
                                           <%= @front_page_content.compendium_main_content_registration.html_safe rescue "" %>

                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>




                            <div class="fw_block bg_start grey_bg pt46 mb0">
                                <div class="row">
                                    <div class="col-sm-12 module_cont pb47 module_partners">
                                        <h2 class="promo_text_main_titless"><%= @front_page_content.compendium_main_content_partners_title.html_safe rescue "" %></h2>
                                        <div class="module_content sponsors_works items6">
<%= @front_page_content.compendium_main_content_partners_images.html_safe rescue "" %>

                                        </div>
                                    </div>
                                 </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
