<div class="breadcrumbs">
	<div class="container">
        <h1 class="title-page"><%= @front_page_content.gallery_title %></h1>
    </div>
</div>

<div class="wrapper">
    	<div class="container">
        	<div class="content_block row no-sidebar">
            	<div class="fl-container">
                	<div class="posts-block">
                        <div class="contentarea">

                            <h1 class="title-page">Photos</h1>

                            <div class="row pb50 animate" data-anim-type="fadeInUp" data-anim-delay="300">
                                <div class="sorting_block image-grid featured_items photo_gallery" id="list">
                                  <% unless @photo_galleries.blank? %>
                                    <% @photo_galleries.limit(3).each do |photo_gallery| %>

                                      <% gallery_attachment = photo_gallery.gallery_attachments.first rescue nil %>
                                      <% unless gallery_attachment.blank? %>

                                      	  <div class="col-sm-4 <%= I18n.locale == :fr ? Digest::SHA1.hexdigest(photo_gallery.fr_title).hex.to_s[0..17] : Digest::SHA1.hexdigest(photo_gallery.en_title).hex.to_s[0..17] %> element">
                                            <div class="item">
                                                <div class="item_wrapper">
                                                  <% if !gallery_attachment.pdf_attachment_content_type.blank? %>
                                                    <div class="img_block wrapped_img" style = "text-align: center;font-weight: bold;">
                                                      <a href = "<%= photo_gallery_path %>">
                                                        <div style = "margin-bottom: 15px;">
                                                          <img src="/images/pdf.png" style = "width:280px;" alt="">
                                                        </div>
                                                        <%= I18n.locale == :fr ? photo_gallery.fr_title : photo_gallery.en_title %>
                                                      </a>
                                                    </div>
                                                  <% else %>
                                                    <div class="img_block wrapped_img" style = "text-align: center;font-weight: bold;">
                                                      <a href = "<%= photo_gallery_path %>">
                                                        <div style = "margin-bottom: 15px;">
                                                          <%= image_tag gallery_attachment.photo_attachment.url(:front) %>
                                                        </div>
                                                        <%= I18n.locale == :fr ? photo_gallery.fr_title : photo_gallery.en_title %>
                                                      </a>
                                                    </div>
                                                  <% end %>
                                                </div>
                                            </div>
                                          </div>

                                      <% end %>
                                    <% end %>
                                  <% end %>

                                </div>
                                <div style = "text-align:right;font-weight:bold;">
                                  <%= link_to I18n.locale == :fr ? 'Voir les autres albums >>' : 'Full albums list >>', photo_gallery_path, style: "color:orange;" %>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>





                        <h1 class="title-page">Documents</h1>
                            <div class="row pb50 animate" data-anim-type="fadeInUp" data-anim-delay="300">
                                <div class="sorting_block image-grid featured_items photo_gallery" id="list">
                                  <% unless @documents_galleries.blank? %>
                                    <% @documents_galleries.limit(3).each do |documents_gallery| %>
                                      <% gallery_attachment = documents_gallery.gallery_attachments.first rescue nil %>
                                      <% unless gallery_attachment.blank? %>

                                      	  <div class="col-sm-4 <%= I18n.locale == :fr ? Digest::SHA1.hexdigest(documents_gallery.fr_title).hex.to_s[0..17] : Digest::SHA1.hexdigest(documents_gallery.en_title).hex.to_s[0..17] %> element">
                                            <div class="item">
                                                <div class="item_wrapper">
                                                  <% if !gallery_attachment.pdf_attachment_content_type.blank? %>
                                                    <div class="img_block wrapped_img" style = "text-align: center;font-weight: bold;">
                                                      <a href = "<%= documents_gallery_path %>">
                                                        <div style = "margin-bottom: 15px;">
                                                          <img src="/images/pdf.png" style = "width:280px;" alt="">
                                                        </div>
                                                        <%= I18n.locale == :fr ? documents_gallery.fr_title : documents_gallery.en_title %>
                                                      </a>
                                                    </div>
                                                  <% else %>
                                                    <div class="img_block wrapped_img" style = "text-align: center;font-weight: bold;">
                                                      <a href = "<%= documents_gallery_path %>">
                                                        <div style = "margin-bottom: 15px;">
                                                          <%= image_tag gallery_attachment.photo_attachment.url(:front) %>
                                                        </div>
                                                        <%= I18n.locale == :fr ? documents_gallery.fr_title : documents_gallery.en_title %>
                                                      </a>
                                                    </div>
                                                  <% end %>
                                                </div>
                                            </div>
                                          </div>

                                      <% end %>
                                    <% end %>
                                  <% end %>
                                </div>
                                <div style = "text-align:right;font-weight:bold;">
                                  <%= link_to I18n.locale == :fr ? 'Voir les autres documents >>' : 'Full documents list >>', documents_gallery_path, style: "color:orange;" %>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>








                          <h1 class="title-page">Videos</h1>
                            <div class="row pb50 animate" data-anim-type="fadeInUp" data-anim-delay="300">
                                <div class="sorting_block image-grid featured_items photo_gallery" id="list">
                                  <% unless @video_galleries.blank? %>
                                    <% @video_galleries.limit(3).each do |video_gallery| %>
                                      <% gallery_attachment = video_gallery.video_links.to_s.strip.split("|").first rescue [] %>
                                      <% unless gallery_attachment.blank? %>

                                    	  <div class="col-sm-4  element">
                                          <div class="item">
                                            <div class="item_wrapper">
                                              <div class="img_block wrapped_img">
                                                <div style = "margin-bottom: 15px;">
                                                  <iframe width="420" height="315" src="https://www.youtube.com/embed/<%= gallery_attachment %>" frameborder="0" allowfullscreen></iframe>
                                                </div>
                                              </div>
                                              <div style = "text-align: center;font-weight: bold;">
                                                <a href = "<%= video_gallery_path %>">
                                                  <%= I18n.locale == :fr ? video_gallery.fr_title : video_gallery.en_title %>
                                                </a>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                      <% end %>
                                    <% end %>
                                  <% end %>
                                </div>
                                <div style = "text-align:right;font-weight:bold;">
                                  <%= link_to I18n.locale == :fr ? 'Voir les autres vidéos >>' : 'Full videos list >>', video_gallery_path, style: "color:orange;" %>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>








                    </div>
                </div>
            </div>
        </div>
    </div>
