<%= render "slider" %>

<div class="wrapper">
	<div class="container">
    	<div class="content_block row no-sidebar">
        	<div class="fl-container">
            	<div class="posts-block">
                    <div class="contentarea">

                      <div class="row">
                        <div class="col-sm-12 module_cont pb75 animate" data-anim-type="fadeInUp" data-anim-delay="300">
                          <div class="shortcode_promoblock">
                            <div class="promoblock_wrapper">
                              <div class="promo_text_block">
                                <div class="promo_text_block_wrapper">
                                	<h2 class="promo_text_main_titles"><%= @front_page_content.home_top_content_title %></h2>
                                  <h6 class="promo_text_additional_titles"><%= @front_page_content.home_top_content_quotation.html_safe rescue "" %></h6>
                                </div>
                              </div>
                              <div class="promo_button_block"></div>
                              <div class="clear"></div>
                            </div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>

                      <div class="row">
                       	<div class="col-sm-12 module_cont pb0">
                        	<div class="bg_title">
                            <h2><%= @front_page_content.home_main_content_welcome_word_title.html_safe rescue "" %></h2>
                          </div>
                        </div>
                      </div>

                        <!-- Row -->
                        <div class="row">

						              <%= @front_page_content.home_main_content_welcome_word_content.html_safe rescue "" %>

                        </div>
                         <!-- Row -->

                        </div>

                        <div class="row">
                            <div class="col-sm-12 module_cont pb74 module_price_table items3">
                                <div class="price_table_wrapper">
                                    <div class="price_item animate" data-anim-type="fadeInLeft" data-anim-delay="300">
                                        <div class="price_item_wrapper">
                                        	<div class="price_item_wrap">
                                                <div class="price_item_title">
                                                	<h5><%= @front_page_content.home_main_content_block1_title.html_safe rescue "" %></h5>
                                                </div>
                                                <div class="item_cost_wrapper">
                                                    <div class="price_item_cost">
                                                       <%= image_tag @front_page_content.home_main_content_block1_image.url(:front) rescue "" %>
                                                    </div>
                                                </div>
                                                <div class="price_item_body">
                                                    <div>
                                                      <%= @front_page_content.home_main_content_block1_content.html_safe rescue "" %>

                                                    </div>
                                                   <div class="price_item_btn"><a class="shortcode_button btn_large btn_type1"  href="<%= focus_on_woman_path %>" href="javascript:void(0);"><%= @front_page_content.home_main_content_read_more.html_safe rescue "" %></a>
                                                   </div>
                                                </div>
                                        	</div>
                                        </div>
                                    </div>
                                    <div class="price_item most_popular animate" data-anim-type="fadeIn" data-anim-delay="500">
                                        <div class="price_item_wrapper">
                                        	<div class="price_item_wrap">
                                                <div class="price_item_title">
                                                	<h5><%= @front_page_content.home_main_content_block2_title.html_safe rescue "" %></h5>
                                              </div>
                                              <div class="item_cost_wrapper">
                                                    <div class="price_item_cost">
                                                       <%= image_tag @front_page_content.home_main_content_block2_image.url(:front) rescue "" %>
                                                    </div>
                                              </div>
                                              <div class="price_item_body">
                                                    <div class="">
                                                        <%= @front_page_content.home_main_content_block2_content.html_safe rescue "" %>
                                                  </div>
                                                   <div class="price_item_btn"><a class="shortcode_button btn_large btn_type1" href="<%= activities_path %>"; href="javascript:void(0)";><%= @front_page_content.home_main_content_read_more.html_safe rescue "" %></a></div>
                                             </div>

                                       	  </div>
                                        </div>
                                    </div>
                                    <div class="price_item animate" data-anim-type="fadeInRight" data-anim-delay="300">
                                        <div class="price_item_wrapper">
                                        	<div class="price_item_wrap">
                                                <div class="price_item_title">
                                                	<h5><%= @front_page_content.home_main_content_block3_title.html_safe rescue "" %></h5>
                                                </div>
                                                <div class="item_cost_wrapper">
                                                    <div class="price_item_cost">
                                                       <%= image_tag @front_page_content.home_main_content_block3_image.url(:front) rescue "" %>
                                                    </div>
                                                </div>
                                                <div class="price_item_body">
                                                    <%= @front_page_content.home_main_content_block3_content.html_safe rescue "" %>
                                                  <!--  <div class="price_item_text">Alias consequatur ut perferendis</div>
                                                    <div class="price_item_text">Quod maxime placeat possimus</div>
                                                    <div class="price_item_text">Sed eiusmod tempor incididunt</div>
                                                    <div class="price_item_text">Sed eiusmod tempor incididunt</div>-->
                                                    <div class="price_item_btn"><a class="shortcode_button btn_large btn_type1" href="<%= jobs_path %>" href="javascript:void(0)"><%= @front_page_content.home_main_content_read_more.html_safe rescue "" %></a></div>
                                                </div>
                                        	</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </div>

                           <div class="fw_block bg_start grey_bg pt46 mb0">
                            <div class="row">
                                <div class="col-sm-12 module_cont pb47 module_partners">
                                    <%= @front_page_content.home_main_bottom.html_safe rescue "" %>
                                </div>
                             </div>
                         </div>
                </div>
            </div>
        </div>
    </div>
</div>
