<!-- Title area -->
<div class="titleArea">
    <div class="wrapper">
        <div class="pageTitle">
            <h5>Mise à jour de la page Compendium du site</h5>
            <span>Remplissez les formulaires associés aux différentes sections de l'interface grand public.</span>
        </div>

        <div class="clear"></div>
    </div>
</div>

<div class="line"></div>

<%#= render "devise/registrations/shared/sub_menu" %>

<div class="line"></div>

<!-- Main content wrapper -->
<div class="wrapper">

  <%= flash_messages! %>

  <div class="widget">
    <ul class="tabs">
      <li class="activeTab"><a href="#top_content">En tête</a></li>
      <li><a href="#main_content">Corps</a></li>
      <li><a href="#bottom_content">Bas de page</a></li>
      <li><a href="#partners">Partenaires</a></li>
    </ul>

    <div class="tab_container">
      <!-- Top content tab -->
      <div id="top_content" class="tab_content" style="display: block;">
        <%= form_for(@fr_content, url: update_fr_home_front_content_path, method: :post, html: {class: 'form'}) do |f| %>
          <fieldset>
            <div class="widget">
              <div class="title">
                <img src="<%= asset_path 'icons/dark/users.png' %>" alt="" class="titleIcon" />
                <h6>FR | En tête</h6>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_top_content_title %></label>
                <div class="formRight">
                  <%= f.text_field :compendium_top_content_title, placeholder: "Veuillez entrer le titre de la page Compendium", class: 'form-control' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <%= image_tag @fr_content.compendium_top_content_block1_image.url(:tiny) rescue "" %>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_top_content_block1_image %></label>
                <div class="formRight">
                  <%= f.file_field :compendium_top_content_block1_image, placeholder: "Veuillez entrer l'image du bloc 1", class: 'form-control' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_top_content_block1_content %></label>
                <div class="formRight">
                  <%= f.text_area :compendium_top_content_block1_content, placeholder: "Veuillez entrer le contenu du bloc 1", class: 'ckeditor' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <%= image_tag @fr_content.compendium_top_content_block2_image.url(:tiny) rescue "" %>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_top_content_block2_image %></label>
                <div class="formRight">
                  <%= f.file_field :compendium_top_content_block2_image, placeholder: "Veuillez entrer l'image du bloc 2", class: 'form-control' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_top_content_block2_content %></label>
                <div class="formRight">
                  <%= f.text_area :compendium_top_content_block2_content, placeholder: "Veuillez entrer le contenu du bloc 2", class: 'ckeditor' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <%= image_tag @fr_content.compendium_top_content_block3_image.url(:tiny) rescue "" %>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_top_content_block3_image %></label>
                <div class="formRight">
                  <%= f.file_field :compendium_top_content_block3_image, placeholder: "Veuillez entrer l'image du bloc 3", class: 'form-control' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_top_content_block3_content %></label>
                <div class="formRight">
                  <%= f.text_area :compendium_top_content_block3_content, placeholder: "Veuillez entrer le contenu du bloc 3", class: 'ckeditor' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <%= image_tag @fr_content.compendium_top_content_block4_image.url(:tiny) rescue "" %>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_top_content_block4_image %></label>
                <div class="formRight">
                  <%= f.file_field :compendium_top_content_block4_image, placeholder: "Veuillez entrer l'image du bloc 4", class: 'form-control' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_top_content_block4_content %></label>
                <div class="formRight">
                  <%= f.text_area :compendium_top_content_block4_content, placeholder: "Veuillez entrer le contenu du bloc 4", class: 'ckeditor' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <%= f.submit "Valider", class: 'basic' %>
              </div>
            </div>
          </fieldset>
        <% end %>

        <%= form_for(@en_content, url: update_en_home_front_content_path, method: :post, html: {class: 'form'}) do |f| %>
          <fieldset>
            <div class="widget">
              <div class="title">
                <img src="<%= asset_path 'icons/dark/users.png' %>" alt="" class="titleIcon" />
                <h6>EN | En tête</h6>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_top_content_title %></label>
                <div class="formRight">
                  <%= f.text_field :compendium_top_content_title, placeholder: "Veuillez entrer le titre de la page Compendium", class: 'form-control' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <%= image_tag @en_content.compendium_top_content_block1_image.url(:tiny) rescue "" %>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_top_content_block1_image %></label>
                <div class="formRight">
                  <%= f.file_field :compendium_top_content_block1_image, placeholder: "Veuillez entrer l'image du bloc 1", class: 'form-control' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_top_content_block1_content %></label>
                <div class="formRight">
                  <%= f.text_area :compendium_top_content_block1_content, placeholder: "Veuillez entrer le contenu du bloc 1", class: 'ckeditor' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <%= image_tag @en_content.compendium_top_content_block2_image.url(:tiny) rescue "" %>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_top_content_block2_image %></label>
                <div class="formRight">
                  <%= f.file_field :compendium_top_content_block2_image, placeholder: "Veuillez entrer l'image du bloc 2", class: 'form-control' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_top_content_block2_content %></label>
                <div class="formRight">
                  <%= f.text_area :compendium_top_content_block2_content, placeholder: "Veuillez entrer le contenu du bloc 2", class: 'ckeditor' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <%= image_tag @en_content.compendium_top_content_block3_image.url(:tiny) rescue "" %>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_top_content_block3_image %></label>
                <div class="formRight">
                  <%= f.file_field :compendium_top_content_block3_image, placeholder: "Veuillez entrer l'image du bloc 3", class: 'form-control' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_top_content_block3_content %></label>
                <div class="formRight">
                  <%= f.text_area :compendium_top_content_block3_content, placeholder: "Veuillez entrer le contenu du bloc 3", class: 'ckeditor' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <%= image_tag @en_content.compendium_top_content_block4_image.url(:tiny) rescue "" %>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_top_content_block4_image %></label>
                <div class="formRight">
                  <%= f.file_field :compendium_top_content_block4_image, placeholder: "Veuillez entrer l'image du bloc 4", class: 'form-control' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_top_content_block4_content %></label>
                <div class="formRight">
                  <%= f.text_area :compendium_top_content_block4_content, placeholder: "Veuillez entrer le contenu du bloc 4", class: 'ckeditor' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <%= f.submit "Valider", class: 'basic' %>
              </div>
            </div>
          </fieldset>
        <% end %>
      </div>
      <!-- Top content tab -->

      <!-- Main content tab -->
      <div id="main_content" class="tab_content" style="display: block;">
        <%= form_for(@fr_content, url: update_fr_home_front_content_path, method: :post, html: {class: 'form'}) do |f| %>
          <fieldset>
            <div class="widget">
              <div class="title">
                <img src="<%= asset_path 'icons/dark/users.png' %>" alt="" class="titleIcon" />
                <h6>FR | Corps</h6>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_main_content_title %></label>
                <div class="formRight">
                  <%= f.text_field :compendium_main_content_title, placeholder: "Veuillez entrer le titre du corps de la page", class: 'form-control' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_main_content %></label>
                <div class="formRight">
                  <%= f.text_area :compendium_main_content, placeholder: "Veuillez entrer le contenu du corps de la page", class: 'ckeditor' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_main_content_registration %></label>
                <div class="formRight">
                  <%= f.text_area :compendium_main_content_registration, placeholder: "Veuillez entrer le contenu de la notice d'enregistrement", class: 'ckeditor' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <%= f.submit "Valider", class: 'basic' %>
              </div>
            </div>
          </fieldset>
        <% end %>

        <%= form_for(@en_content, url: update_en_home_front_content_path, method: :post, html: {class: 'form'}) do |f| %>
          <fieldset>
            <div class="widget">
              <div class="title">
                <img src="<%= asset_path 'icons/dark/users.png' %>" alt="" class="titleIcon" />
                <h6>EN | Corps</h6>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_main_content_title %></label>
                <div class="formRight">
                  <%= f.text_field :compendium_main_content_title, placeholder: "Veuillez entrer le titre du corps de la page", class: 'form-control' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_main_content %></label>
                <div class="formRight">
                  <%= f.text_area :compendium_main_content, placeholder: "Veuillez entrer le contenu du corps de la page", class: 'ckeditor' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_main_content_registration %></label>
                <div class="formRight">
                  <%= f.text_area :compendium_main_content_registration, placeholder: "Veuillez entrer le contenu de la notice d'enregistrement", class: 'ckeditor' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <%= f.submit "Valider", class: 'basic' %>
              </div>
            </div>
          </fieldset>
        <% end %>
      </div>
      <!-- Main content tab -->

      <!-- Bottom content tab -->
      <div id="bottom_content" class="tab_content" style="display: block;">
        <%= form_for(@fr_content, url: update_fr_home_front_content_path, method: :post, html: {class: 'form'}) do |f| %>
          <fieldset>
            <div class="widget">
              <div class="title">
                <img src="<%= asset_path 'icons/dark/users.png' %>" alt="" class="titleIcon" />
                <h6>FR | Bas de page</h6>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_main_content_responsibles_title %></label>
                <div class="formRight">
                  <%= f.text_field :compendium_main_content_responsibles_title, placeholder: "Veuillez entrer le titre du bas de page", class: 'form-control' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <%= image_tag @fr_content.compendium_main_content_responsible1_image.url(:article) rescue "" %>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_main_content_responsible1_image %></label>
                <div class="formRight">
                  <%= f.file_field :compendium_main_content_responsible1_image, placeholder: "Veuillez entrer l'image du bloc 1", class: 'form-control' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_main_content_responsible1_content %></label>
                <div class="formRight">
                  <%= f.text_area :compendium_main_content_responsible1_content, placeholder: "Veuillez entrer le contenu du bloc 1", class: 'ckeditor' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <%= image_tag @fr_content.compendium_main_content_responsible2_image.url(:article) rescue "" %>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_main_content_responsible2_image %></label>
                <div class="formRight">
                  <%= f.file_field :compendium_main_content_responsible2_image, placeholder: "Veuillez entrer l'image du bloc 2", class: 'form-control' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_main_content_responsible2_content %></label>
                <div class="formRight">
                  <%= f.text_area :compendium_main_content_responsible2_content, placeholder: "Veuillez entrer le contenu du bloc 2", class: 'ckeditor' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <%= f.submit "Valider", class: 'basic' %>
              </div>
            </div>
          </fieldset>
        <% end %>

        <%= form_for(@en_content, url: update_en_home_front_content_path, method: :post, html: {class: 'form'}) do |f| %>
          <fieldset>
            <div class="widget">
              <div class="title">
                <img src="<%= asset_path 'icons/dark/users.png' %>" alt="" class="titleIcon" />
                <h6>EN | Bas de page</h6>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_main_content_responsibles_title %></label>
                <div class="formRight">
                  <%= f.text_field :compendium_main_content_responsibles_title, placeholder: "Veuillez entrer le titre du bas de page", class: 'form-control' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <%= image_tag @en_content.compendium_main_content_responsible1_image.url(:article) rescue "" %>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_main_content_responsible1_image %></label>
                <div class="formRight">
                  <%= f.file_field :compendium_main_content_responsible1_image, placeholder: "Veuillez entrer l'image du bloc 1", class: 'form-control' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_main_content_responsible1_content %></label>
                <div class="formRight">
                  <%= f.text_area :compendium_main_content_responsible1_content, placeholder: "Veuillez entrer le contenu du bloc 1", class: 'ckeditor' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <%= image_tag @en_content.compendium_main_content_responsible2_image.url(:article) rescue "" %>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_main_content_responsible2_image %></label>
                <div class="formRight">
                  <%= f.file_field :compendium_main_content_responsible2_image, placeholder: "Veuillez entrer l'image du bloc 2", class: 'form-control' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_main_content_responsible2_content %></label>
                <div class="formRight">
                  <%= f.text_area :compendium_main_content_responsible2_content, placeholder: "Veuillez entrer le contenu du bloc 2", class: 'ckeditor' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <%= f.submit "Valider", class: 'basic' %>
              </div>
            </div>
          </fieldset>
        <% end %>
      </div>
      <!-- Bottom content tab -->

      <!-- Partners tab -->
      <div id="partners" class="tab_content" style="display: block;">
        <%= form_for(@fr_content, url: update_fr_home_front_content_path, method: :post, html: {class: 'form'}) do |f| %>
          <fieldset>
            <div class="widget">
              <div class="title">
                <img src="<%= asset_path 'icons/dark/users.png' %>" alt="" class="titleIcon" />
                <h6>FR | Partenaires</h6>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_main_content_partners_title %></label>
                <div class="formRight">
                  <%= f.text_field :compendium_main_content_partners_title, placeholder: "Veuillez entrer le titre de la section partenaires", class: 'form-control' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_main_content_partners_images %></label>
                <div class="formRight">
                  <%= f.text_area :compendium_main_content_partners_images, placeholder: "Veuillez entrer le contenu de la section partenaires", class: 'ckeditor' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <%= f.submit "Valider", class: 'basic' %>
              </div>
            </div>
          </fieldset>
        <% end %>

        <%= form_for(@en_content, url: update_en_home_front_content_path, method: :post, html: {class: 'form'}) do |f| %>
          <fieldset>
            <div class="widget">
              <div class="title">
                <img src="<%= asset_path 'icons/dark/users.png' %>" alt="" class="titleIcon" />
                <h6>EN | Partenaires</h6>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_main_content_partners_title %></label>
                <div class="formRight">
                  <%= f.text_field :compendium_main_content_partners_title, placeholder: "Veuillez entrer le titre de la section partenaires", class: 'form-control' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <label><%= f.label :compendium_main_content_partners_images %></label>
                <div class="formRight">
                  <%= f.text_area :compendium_main_content_partners_images, placeholder: "Veuillez entrer le contenu de la section partenaires", class: 'ckeditor' %>
                </div>
                <div class="clear"></div>
              </div>

              <div class="formRow">
                <%= f.submit "Valider", class: 'basic' %>
              </div>
            </div>
          </fieldset>
        <% end %>
      </div>
      <!-- Partners tab -->

    </div>
    <div class="clear"></div>
  </div>

</div>
<!-- End Main content wrapper -->
