<!-- Title area -->
<div class="titleArea">
    <div class="wrapper">
        <div class="pageTitle">
            <h5>Création des catégories d'activités</h5>
            <span>Créez un un type d'activité auquel vous ajouterez des activités.</span>
        </div>

        <div class="clear"></div>
    </div>
</div>

<div class="line"></div>

<%= render "activity_categories/shared/sub_menu" %>

<div class="line"></div>

<!-- Main content wrapper -->
<div class="wrapper">
  <%= flash_messages! %>
  <%= form_for(@activity_category, url: create_activity_category_path, method: :post, html: {class: 'form'}) do |f| %>

    <fieldset>
      <div class="widget">
        <div class="title">
          <img src="<%= asset_path 'icons/dark/users.png' %>" alt="" class="titleIcon" />
          <h6>Formulaire de création de catégorie d'activité</h6>
        </div>

        <div class="formRow">
          <label><%= f.label :fr_title %></label>
          <div class="formRight">
            <%= f.text_field :fr_title, placeholder: "Veuillez entrer le titre français", class: 'form-control', autofocus: true %>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <label><%= f.label :en_title %></label>
          <div class="formRight">
            <%= f.text_field :en_title, placeholder: "Veuillez entrer le titre anglais", class: 'form-control' %>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <label><%= f.label :publication_date %></label>
          <div class="formRight">
            <%= f.date_select :publication_date, start_year: (Date.today.year - 10), end_year: (Date.today.year + 2), class: "form-control" %>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <%= f.submit "Valider", class: 'basic' %>
        </div>
      </div>
    </fieldset>
  <% end %>

</div>
<!-- End Main content wrapper -->
