<script src='https://www.google.com/recaptcha/api.js'></script>

<!-- Title area -->
<div class="titleArea">
    <div class="wrapper">
        <div class="pageTitle">
            <h5>Edition de l'activité: <%= @activity.fr_title %> -- Catégorie: <%= @activity.activity_category.fr_title %></h5>
            <span>Edition d'une activité liée à une catégorie d'activité.</span>
        </div>

        <div class="clear"></div>
    </div>
</div>

<div class="line"></div>

<%= render "activity_categories/shared/sub_menu" %>

<div class="line"></div>

<!-- Main content wrapper -->
<div class="wrapper">

  <%= flash_messages! %>
  <%= form_for(@activity, url: update_activity_path, method: :post, html: {class: 'form', multipart: true}) do |f| %>
    <fieldset>
      <div class="widget">
        <div class="title">
          <img src="<%= asset_path 'icons/dark/users.png' %>" alt="" class="titleIcon" />
          <h6>Mise à jour des informations</h6>
        </div>
        <%# Activity.find(71).activity_attachments.each do |attachment| %>
          <%#= image_tag attachment.attachment.url(:front) %>
        <%# end %>
        <div class="formRow">
          <%= f.hidden_field :id %>

          <label><%= f.label :activity_category_id %></label>
          <div class="formRight">
            <%= f.collection_select :activity_category_id, @activity_categories, :id, :fr_title, options ={prompt: "Veuillez choisir une catégorie"}, html_options = {class: "form-control"} %>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <label><%= f.label :fr_title %></label>
          <div class="formRight">
            <%= f.text_field :fr_title, placeholder: "Veuillez entrer le titre français", class: 'form-control' %>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <label><%= f.label :en_title %></label>
          <div class="formRight">
            <%= f.text_field :en_title, placeholder: "Veuillez entrer le titre anglais", class: 'form-control' %>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <label><%= f.label :fr_content %></label>
          <div class="formRight">
            <%= f.text_area :fr_content, placeholder: "Veuillez entrer le contenu français", class: 'ckeditor' %>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <label><%= f.label :en_content %></label>
          <div class="formRight">
            <%= f.text_area :en_content, placeholder: "Veuillez entrer le contenu anglais", class: 'ckeditor' %>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <label><%= f.label :publication_date %></label>
          <div class="formRight">
            <%= f.date_select :publication_date, start_year: (Date.today.year - 10), end_year: (Date.today.year + 2), class: "form-control" %>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <label>Galerie</label>
          <div class="formRight">
            <input type="file" name="activity[attachments_array][]" multiple="multiple" />
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <label><%= f.label :videos %></label>
          <div class="formRight">
            <%= f.text_area :videos, placeholder: "Veuillez entrer les codes des vidéos séparés par le caractère |", class: 'form-control' %>
            <span class="formNote">Veuillez entrer les codes des vidéos séparés par le caractère |</span>
          </div>
          <div class="clear"></div>
        </div>

        <%#= recaptcha_tags %>

        <div class="formRow">
          <%= f.submit "Valider", class: 'basic' %>
        </div>
      </div>

      <% attachments = @activity.activity_attachments %>
      <% unless attachments.blank? %>
        <!-- Images gallery -->
        <div class="widget">
          <div class="title"><img src="<%= asset_path 'icons/dark/images2.png' %>" alt="" class="titleIcon" /><h6>Galerie</h6></div>
          <div class="gallery">
            <ul>
              <% attachments.each do |attachment| %>
                <li>
                  <a href="<%= attachment.attachment.url(:front) %>" title="" rel="lightbox"><%= image_tag attachment.attachment.url(:front) %></a>
                  <div class="actions">
                      <a href="<%= delete_activity_attachment_image_path(attachment.id) %>" title=""><img src="<%= asset_path 'icons/delete.png' %>" alt="" /></a>
                  </div>
                </li>
              <% end %>
            </ul>
            <div class="fix"></div>
          </div>
        </div>
        <!-- Images gallery -->
      <% end %>
      <!-- Video gallery -->
      <div class="widget">
        <div class="title"><img src="<%= asset_path 'icons/dark/images2.png' %>" alt="" class="titleIcon" /><h6>Galerie Vidéos</h6></div>
        <div class="gallery">
          <ul>
            <% unless @video_links.blank? %>
              <% @video_links.each do |video_link| %>
                <li>
                    <iframe id="video" width="420" height="315" src="https://www.youtube.com/embed/<%= video_link %>?rel=0" frameborder="0" allowfullscreen></iframe>
                </li>
              <% end %>
            <% end %>
          </ul>
          <div class="fix"></div>
        </div>
      </div>
      <!-- Video gallery -->
    </fieldset>
  <% end %>

</div>
<!-- End Main content wrapper -->
