<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="img/logo.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="img/apple_icons_57x57.png">
<title>COCOFCI</title>

<%= stylesheet_link_tag 'front/application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'front/application_header', 'data-turbolinks-track' => true %>
<% if controller_name == "home" && action_name == "index" %>
<%= javascript_include_tag 'front/slider_initializer', 'data-turbolinks-track' => true %>
<% end %>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<%= csrf_meta_tags %>
</head>

<body>
	<div class="main_header type1">

        <!-- Top Header -->
        <div class="tagline">
            <div class="container">
                <div class="fright">
                	<div class="tagline_items">
                    	<div class="language_select">
                            <div class="selectBox">

                                <span class="selectArrow"><span class=""><%= front_language_menu %></span></span>
                                <div class="selectOptions" >
                                    <span class="selectOption" data-value="french"><img src="<%= asset_path 'front/imgs/FR-Flag.ico' %>" alt="" width="22px"  /><%= link_to @front_page_content.home_toolbar_language_fr, set_user_locale_path("fr") %></span>
                                    <span class="selectOption" data-value="english"><img src="<%= asset_path 'front/imgs/uk_flag.png' %>" alt="" /><%= link_to @front_page_content.home_toolbar_language_en, set_user_locale_path("en") %></span>

                                </div>
                            </div>

                        </div>
                        <div class="log_in_out"><a href="https://cocofci-lp2iprci.db.em2.oraclecloudapps.com/apex/f?p=30200141:IDENTIFICATION:2391100172140:::::" target="_blank"><i class="icon-sign-in"></i> <%= @front_page_content.home_toolbar_registration %></a></div>
                        <div class="cart_btn">
                        	<a href="https://cocofci-lp2iprci.db.em2.oraclecloudapps.com/apex/f?p=30200222:LOGIN::::::" class="view_cart_btn" target="_blank"><i class="icon-users"></i> <%= @front_page_content.home_toolbar_my_account %> </a>
                        </div>

                    </div>
                </div>
                <div class="fleft">
                    <div class="phone"><i class="icon-phone"></i><%= @front_page_content.home_toolbar_phone_number %></div>
                    <div class="email"><a href="mailto:<%= @front_page_content.home_toolbar_email %>"><i class="icon-envelope"></i><%= @front_page_content.home_toolbar_email %></a></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <!-- Nvigation Menu -->

        <div class="header_parent_wrap">
            <header>
                <div class="container">
                	<a class="top_menu_toggler" href="javascript:void(0)"></a>
                	<div class="logo_sect">
                        <a href="<%= root_path %>" class="logo"><img src="<%= asset_path 'front/logo_cocofci-02.png' %>" class="logo_def" alt="" /><img src="<%= asset_path 'front/logo_cocofci-02.png' %>" class="logo_retina" alt="" /></a>
                    </div>

                    <div class="logo_sect1">
                        <a href="http://www.chaire-unesco.org/" target = "_blank"><img src="<%= asset_path 'front/logo_efpod-04.png' %>" alt="" height="" /></a>
                    </div>

                    <nav>
                        <ul class="menu">
                            <li class="<%= @home_menu_highlight_style %>"><a href="<%= root_path %>"><%= @front_page_content.home_main_menu_home %></a> </li>
                            <li class="<%= @compendium_menu_highlight_style %>"><a href="<%= compendium_path %>"><%= @front_page_content.home_main_menu_compendium %></a></li>
                            <li class="<%= @blog_menu_highlight_style %>"><a href="<%= blog_path %>"><%= @front_page_content.home_main_menu_blog %></a></li>
                            <li class="<%= @gallery_menu_highlight_style %>"><a href="#"><%= @front_page_content.home_main_menu_gallery %></a></li>
                            <li class="<%= @contact_menu_highlight_style %>"><a href="<%= contact_path %>"><%= @front_page_content.home_main_menu_contact %></a></li>
                        </ul>
                    </nav>

                    <div class="clear"></div>
                </div>
            </header>
        </div>
    </div>

    <%= yield %>

 <div class="footer">
    	<div class="container">
        	<div class="pre_footer">
            	<div class="row">

                    <div class="col-sm-3">
                    	<div class="sidepanel widget_text">
                        	<%= @front_page_content.home_footer_block1.html_safe rescue "" %>
                        </div>
                    </div>

                    <div class="col-sm-3">
                    	<div class="sidepanel widget_posts">
                        	<%= @front_page_content.home_footer_block2.html_safe rescue "" %>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="sidepanel widget_posts">
                        	<%#= @front_page_content.home_footer_block3.html_safe rescue "" %>
                        	<%= geo_chart Visit.group(:country).count, library: {backgroundColor: "#31383d"} %>
                        	<%#= pie_chart Visit.group(:country).count, library: {backgroundColor: "#31383d"} %>
                        </div>
                    </div>

                    <div class="col-sm-3">
                    	<div class="sidepanel widget_review">
                        	<%= @front_page_content.home_footer_block4.html_safe rescue "" %>
                        </div>

                    </div>

                 </div>
            </div>
            <div class="footer_bottom">
            	<%= @front_page_content.home_footer_copyright.html_safe rescue "" %>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div class="fixed-menu"></div>

 <%= javascript_include_tag 'front/application_footer', 'data-turbolinks-track' => true %>
 <script>
  ahoy.reset();
  var Chartkick = {"language": "<%= I18n.locale == :fr ? 'fr' : 'en' %>"};
</script>
</body>
</html>
