<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>COCOFCI::Job</title>
    <%= stylesheet_link_tag 'job/application', media: 'all', 'data-turbolinks-track' => true %>
	<!-- Form Slider -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div id="wrapper"><!-- start main wrapper -->
		<div id="header"><!-- start main header -->
			<div class="top-line">&nbsp;</div>
			<div class="top"><!-- top -->
				<div class="container">
					<div class="media-top-right">
						<ul class="media-top clearfix">
							<li class="item"><a href="" target="blank"><i class="fa fa-twitter"></i></a></li>
							<li class="item"><a href="" target="blank"><i class="fa fa-facebook"></i></a></li>
							<li class="item"><a href="" target="blank"><i class="fa fa-linkedin"></i></a></li>
							<li class="item"><a href="" target="blank"><i class="fa fa-rss"></i></a></li>
							<li class="item"><a href="" target="blank"><i class="fa fa-google-plus"></i></a></li>
						</ul>
						<ul class="media-top-2 clearfix">
							<li><a href="<%= register_company_path %>" class="btn btn-default btn-blue btn-sm">Inscription</a></li>
							<li>
							  <% if !current_company.blank? %>
							    <a data-method="delete" href="<%= destroy_company_session_path %>" rel="nofollow" class="btn btn-default btn-red btn-sm">Déconnexion</a>
							  <% else %>
							    <a href="<%= new_company_session_path %>" class="btn btn-default btn-green btn-sm" >Connexion</a>
							  <% end %>
							</li>

						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
			</div><!-- top -->
			<div class="container"><!-- container -->
				<div class="row">
					<div class="col-md-4"><!-- logo -->
						<a href="<%= jobs_path %>" title="Job COCOFCI" rel="home">
							<img width = "250px" class="main-logo" src="<%= asset_path 'job/logo_cocofci-02.png' %>" alt="job board" />
						</a>
					</div><!-- logo -->
					<div class="col-md-8 main-nav"><!-- Main Navigation -->
						<a id="touch-menu" class="mobile-menu" href="#"><i class="fa fa-bars fa-2x"></i></a>
						<nav>
							<ul class="menu">
							  <li><a href="<%= root_path %>">COCOFCI</a></li>
								<li><a href="<%= jobs_path %>">Liste des offres</a></li>
								<li><a  href="<%= new_company_offer_path %>">Poster une offre</a></li>
								<% if !current_company.blank? %>
								  <li><a  href="/<%= I18n.locale %>/companies/edit.<%= current_company.id %>">Afficher le profil</a></li>
								<% end %>
							</ul>
						</nav>
					</div><!-- Main Navigation -->
					<div class="clearfix"></div>
				</div>
			</div><!-- container -->
		</div><!-- end main header -->

    <%= yield %>

    <div id="page-content"><!-- start content -->
			<div class="content-about">
				<div id="cs"><!-- CS -->
					<div class="container">
					<div class="spacer-1">&nbsp;</div>
						<h1>Besoin de renseignements?</h1>
						<p>
							At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt.
						</p>
						<h1 class="phone-cs">Appeler: 1 800 000 500</h1>
					</div>
				</div><!-- CS -->
			</div><!-- end content -->
		</div><!-- end page content -->

		<div id="footer"><!-- Footer -->
			<div class="container"><!-- Container -->
				<div class="row">
					<div class="col-md-3 footer-widget"><!-- Text Widget -->
						<h6 class="widget-title">Conseils</h6>
						<div class="textwidget">
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
						</div>
					</div><!-- Text Widget -->

					<div class="col-md-2 footer-widget"><!-- Footer Menu Widget -->
						<h6 class="widget-title">Liens utiles</h6>
						<div class="footer-widget-nav">
							<ul>

							</ul>
						</div>
					</div><!-- Footer Menu Widget -->

					<div class="col-md-4 footer-widget"><!-- Recent Tweet Widget -->
						<h6 class="widget-title">Commentaires récents</h6>

					</div><!-- Recent Tweet Widget -->

					<div class="col-md-3 footer-widget"><!-- News Leter Widget -->
						<h6 class="widget-title">S'inscrire à la newsletter</h6>
						<div class="textwidget">
							<p>Recevez en temps réel les dernières offres</p>
						</div>

						<form role="form">
							<div class="form-group">
								<input type="email" class="input-newstler">
							</div>
							<button type="button" class="btn-newstler">Valider</button>
						</form>
						<a href="" target="blank"><i class="media-footer footer-twitt"></i></a>
						<a href="" target="blank"><i class="media-footer footer-fb"></i></a>
						<a href="" target="blank"><i class="media-footer footer-linkedin"></i></a>
						<a href="" target="blank"><i class="media-footer footer-yahoo"></i></a>
						<a href="" target="blank"><i class="media-footer footer-blog"></i></a>
						<a href="" target="blank"><i class="media-footer footer-rss"></i></a>
					</div><!-- News Leter Widget -->
					<div class="clearfix"></div>
				</div>

			</div><!-- Container -->
		</div><!-- Footer -->
	</div><!-- end main wrapper -->
    <%= javascript_include_tag 'job/application', 'data-turbolinks-track' => true %>
    <!-- Map -->
	  <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	  <!-- Map -->

  </body>
</html>
